<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Página principal</title>
		<link rel="stylesheet" href="./js/style.css">
		
		<!-- Bootstrap resources-->    
        <link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	</head>
	<body style="background-color:#007141">

        <!-- Zeona blanca central con informacion -->
        <div class="container py-5 rounded">
            <div class="row align-items-stretch">

            <div class="col bg-white p-5 rounded-end">

                <div class="text-center">
                    <img class="logo" src="imagenes/uabc.png" width="60" alt="">
                </div>

                <h4 style="color: #007141" align="center">UNIVERSIDAD AUTÓNOMA DE BAJA CALIFORNIA</h4> 
                <h6 class="fw-bold text-center py-2">Sistema 9/11</h6>
                
                
                <h5 class="fw-bold text-center py-2">¿Has olvidado tu contraseña? </h5>
                <div class="row align-items-center">
                    <div class="col-3"></div>

                      <div class="col-6">
                        <div class="col text-justify rounded"> 
                          Para inciar con el proceso debe ingresar el correo electrónico utilizado para acceder al sistema, después pulse el botón ‘Recuperar contraseña’. El cambio de contraseña  debe ser aprobado por el coordinador por la unidad académica, ya que sea aprobado llegará un enlace a su correo para poder restaurarla.
                         </div>
                         <br>
                         <%if(data=='success'){%>
				                  <div class="alert alert-primary" role="alert">
                            Solicitud Enviada.
                          </div>
                          <%}%>
                        <form action="/ayuda" method="POST">
                          <div class="mb-4 form">
                            <input type="email" name="usuario" type="text" class="form-control" placeholder="Correo electrónico"/>
                          </div>          
                            <button id="loginBtn">Solicitar Reinicio de contraseña</button>
                            <a id="signupBtn" href="/" style="margin-top:10px;" class="btn btn-user btn-block">
                             Regresar
                            </a>
                        </form>
                      </div>

                    <div class="col-3"></div>
                </div>

                <br></br>
                <h5 class="fw-bold text-center py-2">Dudas sobre las funciones de la página</h5>
                <div class="row align-items-center">
                    <div class="col-3"></div>

                      <div class="col-6">
                        <div class="col text-justify rounded"> 
                         Contactanos en el correo a XXXXX@XXXXX.com y tendrán una respuesta a la brevedad posible.
                        </div>
                      </div>

                    <div class="col-3"></div>
                </div>

                <br></br>
                <h5 class="fw-bold text-center py-2">Unidades académicas</h5>

                    <div class="d-flex justify-content-center">
                    <address class="text-center">
                        <strong>Campus Ensenada</strong>
                        <br>Nombre: XXX
                        <br>Correo para soporte: sistemas@uabc.edu.mx
                        <br><abbr title="Teléfono">Tel:</abbr> (646)XXXXXXX exT.XXX
                    </address>
                    <address class="text-center ">
                        <strong>Campus Mexicali</strong>
                        <br>Nombre: XXX
                        <br>Correo para soporte: sistemas@uabc.edu.mx
                        <br><abbr title="Teléfono">Tel:</abbr> (646)XXXXXXX exT.XXX
                    </address>
                    <address class="text-center">
                        <strong>Campus Tijuana</strong>
                        <br>Nombre: XXX
                        <br>Correo para soporte: sistemas@uabc.edu.mx
                        <br><abbr title="Teléfono">Tel:</abbr> (646)XXXXXXX exT.XXX
                    </address>
                </div>

            </div>
            
        </div>
    </div>
    
  </body>
</html>
