<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap resources-->    
    <link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    
    <!--color de los nav items-->
    <link href="js/navitems.css" rel="stylesheet">
    
    <!--css de forms-->
    <link href="js/form.css" rel="stylesheet">

    <title>Convenios</title>
  </head>
  <body>
  <div class="container">
    <div class="row">
    
    
        <div class="col-sm-4" style="background-color:#007141">
        <!--La barra de navegacion lateral va aqui-->
        <ul class="nav flex-column" style="background-color:#007141;">
        <li class="nav-item" style="margin-top:35px;">
            <a class="navbar-brand" href="/main">
              <img src="imagenes/uabc.png" alt="" width="24" height="30" class="d-inline-block align-text-top">
              <%= name %>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Movilidad academica</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/movilidad-entrada">Entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/movilidad-salida">Salida</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Intercambio estudiantil</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/intercambio-entrada">Entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/intercambio-salida">Salida</a></li>
            </ul>
          </li>
          <%if(tipo=='Coordinador'){%>
          <li class="nav-item">
            <a class="nav-link" href="/convenios">Convenios</a>
          </li>
          <%}%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reportes</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/excel-movilidad-entrada">Movilidad de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-movilidad-salida">Movilidad de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-intercambio-entrada">Intercambio de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-intercambio-salida">Intercambio de salida</a></li>
              <%if(tipo=='Coordinador'){%>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-convenios">Convenios</a></li>
              <%}%>
            </ul>
          </li>
          <%if(tipo=='Coordinador'){%>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios">Administrar Usuarios</a>
          </li>
          <%}%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Validar y revisar</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/movilidad-entrada-tabla">Movilidad de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/movilidad-salida-tabla">Movilidad de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/intercambio-entrada-tabla">Intercambio de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/intercambio-salida-tabla">Intercambio de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <%if(tipo=='Coordinador'){%>
              <li><a class="dropdown-item" href="/convenios-tabla">Convenios</a></li>
              <%}%>
            </ul>
          </li>
          <li class="nav-item" style="margin-top:50px">
            <a class="nav-link" href="#">Ayuda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signout">Cerrar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-bottom:100%" href="#"></a>
          </li>
        </ul>
        </div>        
        
        <div class="col" style="margin-top:20px">
        <!-- aqui ira el contenido que se muestre segun la opcion elegida----------------------->
        <!--justificar un row de contenido en el centro-->
        <h2 align="center">Convenios</h2>
        <!--Aqui inicia conficional cuando vayamos a editar algun registro, si la data no existe es para ingresar-->
        <%if (data == '') {%>
        <form style="margin-left:20px;" action="/" method="POST">
            <div class="row">
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="periodoId" placeholder="" required>
                  <label for="floatingInput">Periodo ID</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="periodo" placeholder="" required>
                  <label for="floatingInput">Periodo</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="convenioVincId" placeholder="" required>
                  <label for="floatingInput">Clave del Convenio</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="convenioVinc" placeholder="" required>
                  <label for="floatingInput">Nombre del Convenios</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm">
                  <input type="date" class="form-control" name="fecha" placeholder="" required>
                  <label for="floatingInput">Fecha</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <select class="form-select" name="sectorId" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opción</option>
                    <option value="1">Publico</option>
                    <option value="2">Social</option>
                    <option value="3">Privado</option>
                  </select>
                  <label for="sectorId">Sector de la Institución</label>
                </div>
                <div class="form-floating col-6">
                  <select class="form-select" name="origenId" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opción</option>
                    <option value="1">Nacional</option>
                    <option value="2">Internacional</option>
                  </select>
                  <label for="origenId">Origen de la Institución</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="paisVinc" placeholder="" required>
                  <label for="floatingInput">País de origen</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="instOrg" placeholder="" required>
                  <label for="floatingInput">Institución y/o organización</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <select class="form-select" name="coop" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opción</option>
                    <option value="1">Sí</option>
                    <option value="2">No</option>
                  </select>
                  <label for="coop">¿Es convenio de Cooperación académica?</label>
                </div>
                <div class="form-floating col-6">
                  <select class="form-select" name="inve" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opción</option>
                    <option value="1">Sí</option>
                    <option value="2">No</option>
                  </select>
                  <label for="inve">¿Es convenio de Investigación?</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <select class="form-select" name="inter" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opción</option>
                    <option value="1">Sí</option>
                    <option value="2">No</option>
                  </select>
                  <label for="inter">¿Es convenio de intercambio estudiantil?</label>
                </div>
                <div class="form-floating col-6">
                  <select class="form-select" name="movi" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opción</option>
                    <option value="1">Sí</option>
                    <option value="2">No</option>
                  </select>
                  <label for="movi">¿Es convenio de movilidad académica?</label>
                </div>
            </div>
            <input type="hidden" name="form" value="convenios" >
            <div class="row justify-content-end" style="margin-top:50px">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary mb-3">Guardar</button>
                </div>
            </div>
        </form>
        <!-------ELSE--------------ELSE------ELSE--------ELSE--------ELSE-------->
        <%}else{%>
        <form style="margin-left:20px;" action="/convenios" method="POST">
            <div class="row">
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="periodoId" value="<%=data[0].PERIODO_ID%>" required>
                  <label for="floatingInput">Periodo ID</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="periodo" value="<%=data[0].PERIODO%>" required>
                  <label for="floatingInput">Periodo</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="convenioVincId" value="<%=data[0].CONVENIO_VINCID%>" required>
                  <label for="floatingInput">Clave del Convenio</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="convenioVinc" value="<%=data[0].CONVENIO_VINC%>" required>
                  <label for="floatingInput">Nombre del convenios</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm">
                  <input type="text" class="form-control" name="fecha" value="<%=data[0].FECHA%>" required>
                  <label for="floatingInput">Fecha</label>
                </div>
            </div>
            <div class="row">
                <%if(data[0].SECTOR_ID== 1){
                  var d1="selected";
                  var d2="";
                  var d3="";
                }else if (data[0].SECTOR_ID==2){
                  var d1="";
                  var d2="selected";
                  var d3="";
                }else{
                  var d1="";
                  var d2="";
                  var d3="selected";
                }%>
                <div class="form-floating col-6">
                  <select class="form-select" name="sectorId" aria-label="Floating label select example" required>
                    <option value="1" <%=d1%> >Publico</option>
                    <option value="2" <%=d2%> >Social</option>
                    <option value="3" <%=d3%> >Privado</option>
                  </select>
                  <label for="sectorId">Sector de la Institución</label>
                </div>
                <%if(data[0].ORIGEN_ID== 1){
                  var d1="selected";
                  var d2="";
                }else{
                  var d1="";
                  var d2="selected";
                }%>
                <div class="form-floating col-6">
                  <select class="form-select" name="origenId" aria-label="Floating label select example" required>
                    <option value="1" <%=d1%>>Nacional</option>
                    <option value="2" <%=d2%>>Internacional</option>
                  </select>
                  <label for="origenId">Origen de la Institución</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="paisVinc" value="<%=data[0].PAIS_VINC%>" required>
                  <label for="floatingInput">País de origen</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="instOrg" value="<%=data[0].INST_ORG%>" required>
                  <label for="floatingInput">Institución y/o organización</label>
                </div>
            </div>
            <div class="row">
                <%if(data[0].COOP ==1){%>
                <div class="form-floating col-6">
                  <select class="form-select" name="coop" aria-label="Floating label select example" required>
                    <option selected value="1">Sí</option>
                    <option value="2">No</option>
                  </select>
                  <label for="coop">¿Es convenio de Cooperación académica?</label>
                </div>
                <%}else{%>
                <div class="form-floating col-6">
                  <select class="form-select" name="coop" aria-label="Floating label select example" required>
                    <option value="1">Sí</option>
                    <option selected value="2">No</option>
                  </select>
                  <label for="coop">¿Es convenio de Cooperación académica?</label>
                </div>
                <%}%>
                <%if(data[0].INVE == 1){%>
                <div class="form-floating col-6">
                  <select class="form-select" name="inve" aria-label="Floating label select example" required>
                    <option selected value="1">Sí</option>
                    <option value="2">No</option>
                  </select>
                  <label for="inve">¿Es convenio de Investigación?</label>
                </div>
                <%}else{%>
                <div class="form-floating col-6">
                  <select class="form-select" name="inve" aria-label="Floating label select example" required>
                    <option value="1">Sí</option>
                    <option selected value="2">No</option>
                  </select>
                  <label for="inve">¿Es convenio de Investigación?</label>
                </div>
                <%}%>
            </div>
            <div class="row">
                <%if(data[0].INTER == 1){%>
                <div class="form-floating col-6">
                  <select class="form-select" name="inter" aria-label="Floating label select example" required>
                    <option selected value="1">Sí</option>
                    <option value="2">No</option>
                  </select>
                  <label for="inter">¿Es convenio de intercambio estudiantil?</label>
                </div>
                <%}else{%>
                <div class="form-floating col-6">
                  <select class="form-select" name="inter" aria-label="Floating label select example" required>
                    <option value="1">Sí</option>
                    <option selected value="2">No</option>
                  </select>
                  <label for="inter">¿Es convenio de intercambio estudiantil?</label>
                </div>
                <%}%>
                <%if(data[0].MOVI== 1){
                  var d1="selected";
                  var d2="";
                }else{
                  var d1="";
                  var d2="selected";
                }%>
                <div class="form-floating col-6">
                  <select class="form-select" name="movi" aria-label="Floating label select example" required>
                    <option <%=d1%> value="1">Sí</option>
                    <option <%=d2%> value="2">No</option>
                  </select>
                  <label for="movi">¿Es convenio de movilidad académica?</label>
                </div>
            </div>
            <div class="row justify-content-end" style="margin-top:50px">
                <input type="hidden" name="id" value="<%=data[0].ID%>" >
                <input type="hidden" name="form" value="guardar">
                <div class="col-sm-4">
                    <%if(tipo=="Coordinador"){%>
                    <button type="submit" class="btn btn-primary mb-3">Guardar y Validar</button>
                    <%}else{%>
                    <button type="submit" class="btn btn-primary mb-3">Guardar cambios</button>
                    <%}%>
                </div>
            </div>
        </form>
        <!--FIN ELSE-->
        <%}%>
        </div>
    </div>
  </div>
  </body>
</html>

