<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Página principal</title>
		<link rel="stylesheet" href="./js/style.css">
		
		<!-- Bootstrap resources-->    
        <link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	</head>
	<body style="background-color:#007141">
		<div class="container-fluid">
			<div class="form form-log">
				<form class="login-form" action="/" method="POST">
					<img class="logo" src="imagenes/uabc.png" width="60" alt="">
					<h2 style="color:#548235" align="center">UNIVERSIDAD AUTÓNOMA DE BAJA CALIFORNIA</h2>
					<h2><b>Sistema 9/11</b></h2>
					<input name="username" type="email" pattern=".+@uabc\.edu\.mx" class="form-control" placeholder="Usuario" title="Por favor, usa tu correo institucional" required>
					<input name="password" type="password" placeholder="Contraseña" required>
					<input type="hidden" name="form" value="login" >
					<button id="loginBtn">Ingresar</button>
					<a href='/ayuda' style="margin-bottom:10px;">¿Necesitas ayuda?</a>
					<p></p>
				</form>
				
			</div>
		</div>
	</body>
</html>
