<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap resources-->    
    <link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!--color de los nav items-->
    <link href="js/navitems.css" rel="stylesheet">
    
    <!--css de forms-->
    <link href="js/form.css" rel="stylesheet">
    
    <script>
	  $(document).on('ready', function () {
		  $('#campus').on('change', function () {
			  var el = $(this);
			  $('#unidad').empty();
        
			  if (el.val() == "Mexicali") {
				  $("#unidad").append("<option>FAC. CS. ADMINISTRATIVAS</option>");
				  $("#unidad").append("<option>FAC. CS. SOC. Y POLITICAS</option>");
				  $("#unidad").append("<option>FAC. DE ARQUIT. Y DISENO</option>");
				  $("#unidad").append("<option>FAC. DE CIENCIAS HUMANAS</option>");
				  $("#unidad").append("<option>FAC. DE ODONTOLOGIA MXLI</option>");
				  $("#unidad").append("<option>FAC. DE PEDAGOGIA E I. EDUC</option>");
				  $("#unidad").append("<option>FACULTAD DE MEDICINA MXL</option>");
				  $("#unidad").append("<option>FACLUTAD DE ARTES MEXICALI</option>");
				  $("#unidad").append("<option>FACULTAD DE DEPORTES</option>");
				  $("#unidad").append("<option>FACULTAD DE DERECHO MXLI</option>");
				  $("#unidad").append("<option>FACULTAD DE ENFERMERIA</option>");
				  $("#unidad").append("<option>FACULTAD DE IDIOMAS MXLI</option>");
				  $("#unidad").append("<option>FACULTAD DE INGENIERIA MXLI</option>");
				  $("#unidad").append("<option>INST. DE INV. SOCIALES</option>");
				  $("#unidad").append("<option>INSTITUTO DE INGENIERA</option>");
				  $("#unidad").append("<option>INSTITUTO INV. CULT.-MUSEO</option>");
				  $("#unidad").append("<option>FAC. DE CS. ADMINIST. SAN FEL.</option>");
				  $("#unidad").append("<option>FAC. DE ING. Y NEG. CD. GPE. V</option>");
				  $("#unidad").append("<option>FAC. ING. YNEG. EXT. CD. MORELOS</option>");
				  $("#unidad").append("<option>INST. DE CIENCIAS AGRICOLAS</option>");
				  $("#unidad").append("<option>INST. INV. EN CS. VETERINARIAS</option>");
			  } else if (el.val() == "Tijuana") {
				  $("#unidad").append("<option>FAC. CS. DE LA ING Y TEC.</option>");
				  $("#unidad").append("<option>FAC. CS. QUIM. E INGENIERIA</option>");
				  $("#unidad").append("<option>FAC. DE CONT. Y ADMON. TIJ.</option>");
				  $("#unidad").append("<option>FAC. DE CS. DE LA SALUD</option>");
				  $("#unidad").append("<option>FAC. DE ECONOMIA Y REL. INT.</option>");
				  $("#unidad").append("<option>FAC. DE HUM. Y CS. SOCIALES</option>");
				  $("#unidad").append("<option>FAC. DE IDIOMAS TIJUANA</option>");
				  $("#unidad").append("<option>FAC. DE ODONTOLOGIA TIJ.</option>");
				  $("#unidad").append("<option>FAC. DE TURISMO Y MERC.</option>");
				  $("#unidad").append("<option>FAC. MEDICINA Y PSICOLOGIA</option>");
				  $("#unidad").append("<option>FACULTAD DE ARTES TIJUANA</option>");
				  $("#unidad").append("<option>FACULTAD DE DEPORTES TIJ.</option>");
				  $("#unidad").append("<option>FACULTAD DE DERECHO TIJUANA</option>");
				  $("#unidad").append("<option>INST. DE INVEST. HISTORICAS</option>");
			  } else if (el.val() == "Ensenada") {
				  $("#unidad").append("<option>ESC. CIENCIAS DE LA SALUD</option>");
				  $("#unidad").append("<option>FAC. DE CIENCIAS ADMVAS Y SOCIALES</option>");
				  $("#unidad").append("<option>FAC. DE ENOLOGIA Y GASTRONOMIA</option>");
				  $("#unidad").append("<option>FAC. INGEN. Y NEGOCIOS S.Q.</option>");
				  $("#unidad").append("<option>FACULTAD CIENCIAS MARINAS</option>");
				  $("#unidad").append("<option>FACULTAD DE ARTES ENSENADA</option>");
				  $("#unidad").append("<option>FACULTAD DE CIENCIAS</option>");
				  $("#unidad").append("<option>FACULTAD DE DEPORTES ENS</option>");
				  $("#unidad").append("<option>FACULTAD DE IDIOMAS-ENS.</option>");
				  $("#unidad").append("<option>FACULTAD DE INGENIERIA ENS</option>");
				  $("#unidad").append("<option>INST. INV. OCEANOLOGICAS</option>");
				  $("#unidad").append("<option>INST. INV. Y DES. EDUC. ENS</option>");
			  } else if (el.val() == "Tecate") {
				  $("#unidad").append("<option>FAC. CS. DE LA ING.ADM. Y S</option>");
				  $("#unidad").append("<option>FACULTAD DE ARTES TECATE</option>");
				  $("#unidad").append("<option>FACULTAD DE IDIOMAS TECATE</option>");
			  }
		  });
	  });
    </script>

    <title>Intercambio Estudiantil de Entrada</title>
  <script>
	$(document).on('ready', function () {
		$("#campus").on('change', function () {
			var el = $(this);
			if (el.val() === "Mexicali") {
				$(document).getElementById('unidad').options.length = 0;
				$("#unidad").append("<option>FAC. CS. ADMINISTRATIVAS</option>");
				$("#unidad").append("<option>FAC. CS. SOC. Y POLITICAS</option>");
				$("#unidad").append("<option>FAC. DE ARQUIT. Y DISENO</option>");
				$("#unidad").append("<option>FAC. DE CIENCIAS HUMANAS</option>");
				$("#unidad").append("<option>FAC. DE ODONTOLOGIA MXLI</option>");
				$("#unidad").append("<option>FAC. DE PEDAGOGIA E I. EDUC</option>");
				$("#unidad").append("<option>FACULTAD DE MEDICINA MXL</option>");
				$("#unidad").append("<option>FACLUTAD DE ARTES MEXICALI</option>");
				$("#unidad").append("<option>FACULTAD DE DEPORTES</option>");
				$("#unidad").append("<option>FACULTAD DE DERECHO MXLI</option>");
				$("#unidad").append("<option>FACULTAD DE ENFERMERIA</option>");
				$("#unidad").append("<option>FACULTAD DE IDIOMAS MXLI</option>");
				$("#unidad").append("<option>FACULTAD DE INGENIERIA MXLI</option>");
				$("#unidad").append("<option>INST. DE INV. SOCIALES</option>");
				$("#unidad").append("<option>INSTITUTO DE INGENIERA</option>");
				$("#unidad").append("<option>INSTITUTO INV. CULT.-MUSEO</option>");
				$("#unidad").append("<option>FAC. DE CS. ADMINIST. SAN FEL.</option>");
				$("#unidad").append("<option>FAC. DE ING. Y NEG. CD. GPE. V</option>");
				$("#unidad").append("<option>FAC. ING. YNEG. EXT. CD. MORELOS</option>");
				$("#unidad").append("<option>INST. DE CIENCIAS AGRICOLAS</option>");
				$("#unidad").append("<option>INST. INV. EN CS. VETERINARIAS</option>");
				$("#unidad").selectpicker("refresh");
			} else if (el.val() === "Tijuana") {
				$(document).getElementById('unidad').options.length = 0;
				$("#unidad").append("FAC. CS. DE LA ING Y TEC.");
				$("#unidad").append("FAC. CS. QUIM. E INGENIERIA");
				$("#unidad").append("FAC. DE CONT. Y ADMON. TIJ.");
				$("#unidad").append("FAC. DE CS. DE LA SALUD");
				$("#unidad").append("FAC. DE ECONOMIA Y REL. INT.");
				$("#unidad").append("FAC. DE HUM. Y CS. SOCIALES");
				$("#unidad").append("FAC. DE IDIOMAS TIJUANA");
				$("#unidad").append("FAC. DE ODONTOLOGIA TIJ.");
				$("#unidad").append("FAC. DE TURISMO Y MERC.");
				$("#unidad").append("FAC. MEDICINA Y PSICOLOGIA");
				$("#unidad").append("FACULTAD DE ARTES TIJUANA");
				$("#unidad").append("FACULTAD DE DEPORTES TIJ.");
				$("#unidad").append("FACULTAD DE DERECHO TIJUANA");
				$("#unidad").append("INST. DE INVEST. HISTORICAS");
				$("#unidad").selectpicker("refresh");
			} else if (el.val() === "Ensenada") {
				$(document).getElementById('unidad').options.length = 0;
				$("#unidad").append("ESC. CIENCIAS DE LA SALUD");
				$("#unidad").append("FAC. DE CIENCIAS ADMVAS Y SOCIALES");
				$("#unidad").append("FAC. DE ENOLOGIA Y GASTRONOMIA");
				$("#unidad").append("FAC. INGEN. Y NEGOCIOS S.Q.");
				$("#unidad").append("FACULTAD CIENCIAS MARINAS");
				$("#unidad").append("FACULTAD DE ARTES ENSENADA");
				$("#unidad").append("FACULTAD DE CIENCIAS");
				$("#unidad").append("FACULTAD DE DEPORTES ENS");
				$("#unidad").append("FACULTAD DE IDIOMAS-ENS.");
				$("#unidad").append("FACULTAD DE INGENIERIA ENS");
				$("#unidad").append("INST. INV. OCEANOLOGICAS");
				$("#unidad").append("INST. INV. Y DES. EDUC. ENS");
			} else if (el.val() === "Tecate") {
				$(document).getElementById('unidad').options.length = 0;
				$("#unidad").append("FAC. CS. DE LA ING.ADM. Y S");
				$("#unidad").append("FACULTAD DE ARTES TECATE");
				$("#unidad").append("FACULTAD DE IDIOMAS TECATE");
			}
		});

	});
  </script>
  </head>
  <body>
  <div class="container">
    <div class="row">
    
        <div class="col-sm-4" style="background-color:#007141">
        <!--La barra de navegacion lateral va aqui-->
        <ul class="nav flex-column" style="background-color:#007141;">
        <li class="nav-item" style="margin-top:35px;">
            <a class="navbar-brand" href="/main">
              <img src="imagenes/uabc.png" alt="" width="24" height="30" class="d-inline-block align-text-top">
              <%= name %>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Movilidad academica</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/movilidad-entrada">Entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/movilidad-salida">Salida</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Intercambio estudiantil</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/intercambio-entrada">Entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/intercambio-salida">Salida</a></li>
            </ul>
          </li>
          <%if(tipo=='Coordinador'){%>
          <li class="nav-item">
            <a class="nav-link" href="/convenios">Convenios</a>
          </li>
          <%}%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reportes</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/excel-movilidad-entrada">Movilidad de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-movilidad-salida">Movilidad de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-intercambio-entrada">Intercambio de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-intercambio-salida">Intercambio de salida</a></li>
              <%if(tipo=='Coordinador'){%>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-convenios">Convenios</a></li>
              <%}%>
            </ul>
          </li>
          <%if(tipo=='Coordinador'){%>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios">Administrar Usuarios</a>
          </li>
          <%}%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Validar y revisar</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/movilidad-entrada-tabla">Movilidad de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/movilidad-salida-tabla">Movilidad de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/intercambio-entrada-tabla">Intercambio de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/intercambio-salida-tabla">Intercambio de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <%if(tipo=='Coordinador'){%>
              <li><a class="dropdown-item" href="/convenios-tabla">Convenios</a></li>
              <%}%>
            </ul>
          </li>
          <li class="nav-item" style="margin-top:50px">
            <a class="nav-link" href="#">Ayuda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passchange">Cambiar contraseña</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signout">Cerrar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-bottom:100%" href="#"></a>
          </li>
        </ul>
        </div>
        
        <div class="col" style="margin-top:20px">
        <!-- aqui ira el contenido que se muestre segun la opcion elegida----------------------->
        <!--justificar un row de contenido en el centro-->
        <h2 align="center">Intercambio Estudiantil de Entrada</h2>
        
        <!--Aqui inicia conficional cuando vayamos a editar algun registro, si la data no existe es para ingresar-->
        <%if (data == '') {%>
        <form style="margin-left:20px;" action="/" method="POST">
            <div class="row">
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="periodoId" placeholder="" required>
                  <label for="floatingInput">Clave Periodo</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="periodo" placeholder="" required>
                  <label for="floatingInput">Periodo</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="campusId" placeholder="" required>
                  <label for="floatingInput">Clave Campus</label>
                </div>
                <div class="form-floating col-6">
                  <select class="form-select campus" name="campus" id="campus" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opcion</option>
                    <option>Ensenada</option>
                    <option>Mexicali</option>
                    <option>Tijuana</option>
                    <option>Tecate</option>
                  </select>
                  <label for="campus">Campus al que llega</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="unidadId" placeholder="" required>
                  <label for="floatingInput">Clave Unidad</label>
                </div>
                <div class="form-floating col-6">
                  <select class="form-select" name="unidad" id="unidad" aria-label="Floating label select example" required>
                  </select>
                  <label for="unidad">Unidad Academica</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm">
                  <select class="form-select" name="nivelId" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opcion</option>
                    <option value="1">Licenciatura</option>
                    <option value="2">Especialidad</option>
                    <option value="3">Maestria</option>
                    <option value="4">Doctorado</option>
                  </select>
                  <label for="nivelId">Nivel de Estudios</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="programaId" placeholder="" required>
                  <label for="floatingInput">Clave Programa</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="programa" placeholder="" required>
                  <label for="floatingInput">Programa al que llega</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="areaId" placeholder="" required>
                  <label for="floatingInput">Clave de Area</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="area" placeholder="" required>
                  <label for="floatingInput">Area de Conocimiento</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="estudianteId" placeholder="" required>
                  <label for="floatingInput">Clave de identificación Estudiante</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="estudiante_nombre" placeholder="" required>
                  <label for="floatingInput">Nombre Estudiante</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="apellido1" placeholder="" required>
                  <label for="floatingInput">Apellido Paterno</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="apellido2" placeholder="" required>
                  <label for="floatingInput">Apellido Materno</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <select class="form-select" name="sexoId" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opcion</option>
                    <option value="1">Femenino</option>
                    <option value="2">Masculino</option>
                  </select>
                  <label for="sexoId">Sexo</label>
                </div>
                <div class="form-floating col-6">
                  <select class="form-select" name="discapacidadId" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opcion</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                  </select>
                  <label for="discapacidadId">Discapacidad</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm">
                  <select class="form-select" name="origenId" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opcion</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                  </select>
                  <label for="origenId">Origen Indigena</label>
                </div>
                <div class="form-floating col-6">
                  <select class="form-select" name="hablanteId" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opcion</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                  </select>
                  <label for="hablanteId">Hablante indigena</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="ue" placeholder="" required>
                  <label for="floatingInput">Unidad Emisora</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="uePais" placeholder="" required>
                  <label for="floatingInput">Pais de la Unidad Emisora</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="ueEntidad" placeholder="" required>
                  <label for="floatingInput">Entidad de la Unidad Emisora</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="ueIdioma" placeholder="" required>
                  <label for="floatingInput">Idioma de la Unidad Emisora</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm">
                  <select class="form-select" name="finanId" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opcion</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                  </select>
                  <label for="origenId">¿Recibió financiamiento?</label>
                </div>
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="finan_val" placeholder="" required>
                  <label for="floatingInput">Monto recibido</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="date" class="form-control" name="fechaInicio" placeholder="" required>
                  <label for="floatingInput">Fecha de inicio</label>
                </div>
                <div class="form-floating col-6">
                  <input type="date" class="form-control" name="fechaFinal" placeholder="" required>
                  <label for="floatingInput">Fecha de terminación</label>
                </div>
            </div>
            <input type="hidden" name="form" value="intercambio-entrada" >
            <div class="row justify-content-end" style="margin-top:50px">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary mb-3">Guardar</button>
                </div>
            </div>
        </form>
        <!--ELSE ---------ELSE ----------ELSE ---------ELSE --------ELSE   ----->
        <%}else{%>
        <form style="margin-left:20px;" action="/intercambio-entrada" method="POST">
            <div class="row">
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="periodoId" value="<%=data[0].PERIODO_ID%>" required>
                  <label for="floatingInput">Clave Periodo</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="periodo" value="<%=data[0].PERIODO%>" required>
                  <label for="floatingInput">Periodo</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="campusId" value="<%=data[0].CAMPUS_ID%>" required>
                  <label for="floatingInput">Clave Campus</label>
                </div>
                <%
                if(data[0].CAMPUS_DESC == "Ensenada"){
                  var d1="selected";
                  var d2="";
                  var d3="";
                  var d4="";
                }else if(data[0].CAMPUS_DESC == "Mexicali"){
                  var d1="";
                  var d2="selected";
                  var d3="";
                  var d4="";
                }else if(data[0].CAMPUS_DESC == "Tijuana"){
                  var d1="";
                  var d2="";
                  var d3="selected";
                  var d4="";
                }else{
                  var d1="";
                  var d2="";
                  var d3="";
                  var d4="selected";
                }
                %>
                <div class="form-floating col-6">
                  <select class="form-select campus" name="campus" id="campus" aria-label="Floating label select example" required>
                    <option value="" selected>Selecciona una opcion</option>
                    <option <%=d1%>>Ensenada</option>
                    <option <%=d2%>>Mexicali</option>
                    <option <%=d3%>>Tijuana</option>
                    <option <%=d4%>>Tecate</option>
                  </select>
                  <label for="campus">Campus al que llega</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="unidadId" value="<%=data[0].UNIDAD_ID%>" required>
                  <label for="floatingInput">Clave Unidad</label>
                </div>
                <div class="form-floating col-6">
                  <select class="form-select" name="unidad" id="unidad" aria-label="Floating label select example" required>
                    <option><%=data[0].UNIDAD%></option>
                  </select>
                  <label for="unidad">Unidad Academica de llegada</label>
                </div>
            </div>
            <div class="row">
                <%if(data[0].NIVEL_ID== 1){
                  var d1="selected";
                  var d2="";
                  var d3="";
                  var d4="";
                }else if(data[0].NIVEL_ID== 2){
                  var d1="";
                  var d2="selected";
                  var d3="";
                  var d4="";
                }else if(data[0].NIVEL_ID== 3){
                  var d1="";
                  var d2="";
                  var d3="selected";
                  var d4="";
                }else{
                  var d1="";
                  var d2="";
                  var d3="";
                  var d4="selected";
                }%>
                <div class="form-floating col-12">
                  <select class="form-select" name="nivelId" aria-label="Floating label select example" required>
                    <option <%=d1%> value="1">Licenciatura</option>
                    <option <%=d2%> value="2">Especialidad</option>
                    <option <%=d3%> value="3">Maestria</option>
                    <option <%=d4%> value="4">Doctorado</option>
                  </select>
                  <label for="nivelId">Nivel de Estudios</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="programaId" value="<%=data[0].PROGRAMA_ID%>" required>
                  <label for="floatingInput">Clave Programa</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="programa" value="<%=data[0].PROGRAMA_DESC%>" required>
                  <label for="floatingInput">Programa al que llega</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="areaId" value="<%=data[0].AREA_ID%>" required>
                  <label for="floatingInput">Clave de Area</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="area" value="<%=data[0].AREA%>" required>
                  <label for="floatingInput">Area de Conocimiento</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="estudianteId" value="<%=data[0].ESTUDIANTE_ID%>" required>
                  <label for="floatingInput">Clave de identificación Estudiante</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="estudiante_nombre" value="<%=data[0].ESTUDIANTE_NOMBRE%>" required>
                  <label for="floatingInput">Nombre Estudiante</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="apellido1" value="<%=data[0].ESTUDIANTE_APELLIDO1%>" required>
                  <label for="floatingInput">Apellido Paterno</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="apellido2" value="<%=data[0].ESTUDIANTE_APELLIDO2%>" required>
                  <label for="floatingInput">Apellido Materno</label>
                </div>
            </div>
            <div class="row">
                <%if(data[0].SEXO_ID== 1){
                  var d1="selected";
                  var d2="";
                }else{
                  var d1="";
                  var d2="selected";
                }%>
                <div class="form-floating col-6">
                  <select class="form-select" name="sexoId" aria-label="Floating label select example" required>
                    <option <%=d1%> value="1">Femenino</option>
                    <option <%=d2%> value="2">Masculino</option>
                  </select>
                  <label for="sexoId">Sexo</label>
                </div>
                <%if(data[0].DISCAPACIDAD== 1){
                  var d1="selected";
                  var d2="";
                }else{
                  var d1="";
                  var d2="selected";
                }%>
                <div class="form-floating col-6">
                  <select class="form-select" name="discapacidadId" aria-label="Floating label select example" required>
                    <option <%=d1%> value="1">Si</option>
                    <option <%=d2%> value="2">No</option>
                  </select>
                  <label for="discapacidadId">Discapacidad</label>
                </div>
            </div>
            <div class="row">
                <%if(data[0].ORIGEN_INDIGENA== 1){
                  var d1="selected";
                  var d2="";
                }else{
                  var d1="";
                  var d2="selected";
                }%>
                <div class="form-floating col-sm">
                  <select class="form-select" name="origenId" aria-label="Floating label select example" required>
                    <option <%=d1%> value="1">Si</option>
                    <option <%=d2%> value="2">No</option>
                  </select>
                  <label for="origenId">Origen Indigena</label>
                </div>
                <%if(data[0].HABLANTE_INDIGENA== 1){
                  var d1="selected";
                  var d2="";
                }else{
                  var d1="";
                  var d2="selected";
                }%>
                <div class="form-floating col-6">
                  <select class="form-select" name="hablanteId" aria-label="Floating label select example" required>
                    <option <%=d1%> value="1">Si</option>
                    <option <%=d2%> value="2">No</option>
                  </select>
                  <label for="hablanteId">Hablante indigena</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="ue" value="<%=data[0].UR%>" required>
                  <label for="floatingInput">Unidad Emisora</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="uePais" value="<%=data[0].UR_PAIS%>" required>
                  <label for="floatingInput">Pais de la Unidad Emisora</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="ueEntidad" value="<%=data[0].UR_ENTIDAD%>" required>
                  <label for="floatingInput">Entidad de la Unidad Emisora</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" style="text-transform: uppercase;" class="form-control" name="ueIdioma" value="<%=data[0].UR_IDIOMA%>" required>
                  <label for="floatingInput">Idioma de la Unidad Emisora</label>
                </div>
            </div>
            <div class="row">
                <%if(data[0].FINAN_ID== 1){
                  var d1="selected";
                  var d2="";
                }else{
                  var d1="";
                  var d2="selected";
                }%>
                <div class="form-floating col-sm">
                  <select class="form-select" name="finanId" aria-label="Floating label select example" required>
                    <option <%=d1%> value="1">Si</option>
                    <option <%=d2%> value="2">No</option>
                  </select>
                  <label for="origenId">¿Recibió financiamiento?</label>
                </div>
                <div class="form-floating col-6">
                  <input type="number" class="form-control" name="finan_val" value="<%=data[0].FINAN_VAL%>" required>
                  <label for="floatingInput">Monto recibido</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-6">
                  <input type="text" class="form-control" name="fechaInicio" value="<%=data[0].DATE_START%>" required>
                  <label for="floatingInput">Fecha de inicio</label>
                </div>
                <div class="form-floating col-6">
                  <input type="text" class="form-control" name="fechaFinal" value="<%=data[0].DATE_END%>" required>
                  <label for="floatingInput">Fecha de terminación</label>
                </div>
            </div>
            <div class="row justify-content-end" style="margin-top:50px">
                <input type="hidden" name="id" value="<%=data[0].ID%>" >
                <input type="hidden" name="form" value="guardar">
                <div class="col-sm-4">
                    <%if(tipo=="Coordinador"){%>
                    <button type="submit" class="btn btn-primary mb-3">Guardar y Validar</button>
                    <%}else{%>
                    <button type="submit" class="btn btn-primary mb-3">Guardar cambios</button>
                    <%}%>
                </div>
            </div>
        </form>
        <%}%>
        </div>
    </div>
  </div>
  </body>
</html>


