<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap resources-->    
    <link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    
    <!--color de los nav items-->
    <link href="js/navitems.css" rel="stylesheet">

    <title>Sistema 9/11</title>
  </head>
  <body>
  <div class="container">
    <div class="row">
    
    
        <div class="col-sm-3" style="background-color:#007141">
        <!--La barra de navegacion lateral va aqui-->
        <ul class="nav flex-column" style="background-color:#007141;">
        <li class="nav-item" style="margin-top:35px;">
            <a class="navbar-brand" href="/main">
              <img src="imagenes/uabc.png" alt="" width="24" height="30" class="d-inline-block align-text-top">
              <%= name %>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Movilidad academica</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/movilidad-entrada">Entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/movilidad-salida">Salida</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Intercambio estudiantil</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/intercambio-entrada">Entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/intercambio-salida">Salida</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/convenios">Convenios</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reportes</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/excel-movilidad-entrada">Movilidad de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-movilidad-salida">Movilidad de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-intercambio-entrada">Intercambio de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-intercambio-salida">Intercambio de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-convenios">Convenios</a></li>
            </ul>
          </li>
          <li class="nav-item" style="margin-top:50px">
            <a class="nav-link" href="#">Ayuda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signout">Cerrar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-bottom:100%" href="#"></a>
          </li>
        </ul>
        </div>
        
        <!-- aqui ira el contenido que se muestre segun la opcion elegida---------------------->
        <div class="col-9">
        <article>    
            <div class="text-center">
                 <img class="logo"  src="imagenes/uabc.png" width="60" alt="">

             <h3 align="center">UNIVERSIDAD AUTÓNOMA DE BAJA CALIFORNIA</h3> 
             <h class="fw-bold text-center py-2">Sistema 9/11</h>
            </div>
                        <!--AQUI INICIA TABLA DE REGISTROS SIN VALIDAR POR COORDINADOR JUDITH O QUIEN SEA   --------->
            <%if (data != 'NoAuth') {%>
            <br>
            <br>
            <h4>Registros añadidos recientemente</h4>
            <br>
            <h6>Movilidad Academica Entrada</h6>
            <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Validado</th>
                <th scope="col">Periodo</th>
                <th width="col">CampusId</th>
                <th width="col">Campus</th>
                <th width="col">UnidadId</th>
                <th width="col">Unidad</th>
                <th width="col">VisitanteId</th>
                <th width="col">Visitante</th>
                <th width="col">Autor</th>
              </tr>
            </thead>
            <tbody>
              <% 
              var tmp;
              if(data.length){
             
              for(var i = 0; i< data.length; i++) {
              
              if(data[i].validar==0){
                tmp="No";
              }else
                tmp="Si";
              %>  
              <tr>
                <th scope="row"><%= data[i].ID %></th>
                <td><%= tmp%></td>
                <td><%= data[i].PERIODO%></td>
                <td><%= data[i].CAMPUS_ID%></td>
                <td><%= data[i].CAMPUS_DESC%></td>
                <td><%= data[i].UNIDAD_ID%></td>
                <td><%= data[i].UNIDAD%></td>
                <td><%= data[i].VISITANTE_ID%></td>
                <td><%= data[i].VISITANTE_NOMBRE%></td>
                <td><%= data[i].AUTOR%></td>
                <td>
                <a class="btn btn-success edit" href="/movilidad-entrada?id=<%=data[i].ID%>">Edit</a>                                            
               </td>
              </tr>
              <% }
                       
               }else{ %>
                   <tr>
                      <td colspan="3">Vacio</td>
                   </tr>
                <% } %>    
              
            </tbody>
            </table>
            <h6>Movilidad Academica Salida</h6>
            <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Validado</th>
                <th scope="col">Periodo</th>
                <th width="col">CampusId</th>
                <th width="col">Campus</th>
                <th width="col">UnidadId</th>
                <th width="col">Unidad</th>
                <th width="col">VisitanteId</th>
                <th width="col">Visitante</th>
                <th width="col">Autor</th>
              </tr>
            </thead>
            <tbody>
              <% 
              var tmp;
              if(data2.length){
             
              for(var i = 0; i< data2.length; i++) {
              
              if(data2[i].validar==0){
                tmp="No";
              }else
                tmp="Si";
              %>  
              <tr>
                <th scope="row"><%= data2[i].ID %></th>
                <td><%= tmp%></td>
                <td><%= data2[i].PERIODO%></td>
                <td><%= data2[i].CAMPUS_ID%></td>
                <td><%= data2[i].CAMPUS_DESC%></td>
                <td><%= data2[i].UNIDAD_ID%></td>
                <td><%= data2[i].UNIDAD%></td>
                <td><%= data2[i].ESTUDIANTE_ID%></td>
                <td><%= data2[i].ESTUDIANTE_NOMBRE%></td>
                <td><%= data2[i].AUTOR%></td>
                <td>
                <a class="btn btn-success edit" href="/movilidad-entrada?id=<%=data2[i].ID%>">Edit</a>                                            
               </td>
              </tr>
              <% }
                       
               }else{ %>
                   <tr>
                      <td colspan="3">Vacio</td>
                   </tr>
                <% } %>    
              
            </tbody>
            </table>
            <h6>Intercambio Estudiantil de Entrada</h6>
            <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Validado</th>
                <th scope="col">Periodo</th>
                <th width="col">CampusId</th>
                <th width="col">Campus</th>
                <th width="col">UnidadId</th>
                <th width="col">Unidad</th>
                <th width="col">VisitanteId</th>
                <th width="col">Visitante</th>
                <th width="col">Autor</th>
              </tr>
            </thead>
            <tbody>
              <% 
              var tmp;
              if(data3.length){
             
              for(var i = 0; i< data3.length; i++) {
              
              if(data3[i].validar==0){
                tmp="No";
              }else
                tmp="Si";
              %>  
              <tr>
                <th scope="row"><%= data3[i].ID %></th>
                <td><%= tmp%></td>
                <td><%= data3[i].PERIODO%></td>
                <td><%= data3[i].CAMPUS_ID%></td>
                <td><%= data3[i].CAMPUS_DESC%></td>
                <td><%= data3[i].UNIDAD_ID%></td>
                <td><%= data3[i].UNIDAD%></td>
                <td><%= data3[i].ESTUDIANTE_ID%></td>
                <td><%= data3[i].ESTUDIANTE_NOMBRE%></td>
                <td><%= data3[i].AUTOR%></td>
                <td>
                <a class="btn btn-success edit" href="/movilidad-entrada?id=<%=data3[i].ID%>">Edit</a>                                            
               </td>
              </tr>
              <% }
                       
               }else{ %>
                   <tr>
                      <td colspan="3">Vacio</td>
                   </tr>
                <% } %>    
              
            </tbody>
            </table>
            <h6>Intercambio Estudiantil Salida</h6>
            <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Validado</th>
                <th scope="col">Periodo</th>
                <th width="col">CampusId</th>
                <th width="col">Campus</th>
                <th width="col">UnidadId</th>
                <th width="col">Unidad</th>
                <th width="col">VisitanteId</th>
                <th width="col">Visitante</th>
                <th width="col">Autor</th>
              </tr>
            </thead>
            <tbody>
              <% 
              var tmp;
              if(data4.length){
             
              for(var i = 0; i< data4.length; i++) {
              
              if(data4[i].validar==0){
                tmp="No";
              }else
                tmp="Si";
              %>  
              <tr>
                <th scope="row"><%= data4[i].ID %></th>
                <td><%= tmp%></td>
                <td><%= data4[i].PERIODO%></td>
                <td><%= data4[i].CAMPUS_ID%></td>
                <td><%= data4[i].CAMPUS_DESC%></td>
                <td><%= data4[i].UNIDAD_ID%></td>
                <td><%= data4[i].UNIDAD%></td>
                <td><%= data4[i].ESTUDIANTE_ID%></td>
                <td><%= data4[i].ESTUDIANTE_NOMBRE%></td>
                <td><%= data4[i].AUTOR%></td>
                <td>
                <a class="btn btn-success edit" href="/?id=<%=data4[i].ID%>">Edit</a>                                            
               </td>
              </tr>
              <% }
                       
               }else{ %>
                   <tr>
                      <td colspan="3">Vacio</td>
                   </tr>
                <% } %>    
              
            </tbody>
            </table>
            <h6>Convenios</h6>
            <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Validado</th>
                <th scope="col">Periodo</th>
                <th width="col">ConvenioId</th>
                <th width="col">Convenio</th>
                <th width="col">Fecha</th>
                <th width="col">Sector</th>
                <th width="col">OrigenId</th>
                <th width="col">Origen</th>
                <th width="col">Autor</th>
              </tr>
            </thead>
            <tbody>
              <% 
              var tmp;
              if(data5.length){
             
              for(var i = 0; i< data5.length; i++) {
              
              if(data5[i].validar==0){
                tmp="No";
              }else
                tmp="Si";
              %>  
              <tr>
                <th scope="row"><%= data5[i].ID %></th>
                <td><%= tmp%></td>
                <td><%= data5[i].PERIODO%></td>
                <td><%= data5[i].CONVENIO_VINCID%></td>
                <td><%= data5[i].CONVENIO_VINC%></td>
                <td><%= data5[i].FECHA%></td>
                <td><%= data5[i].SECTOR%></td>
                <td><%= data5[i].ORIGEN_ID%></td>
                <td><%= data5[i].ORIGEN%></td>
                <td><%= data5[i].AUTOR%></td>
                <td>
                <form action="/main" method="POST">
                <input type="hidden" name="table" value="convenios" >
                <input type="hidden" name="id" value="<%=data5[i].ID%>" >
                <button type="submit" class="btn btn-success edit">Edit</button>
                </form>
               </td>
              </tr>
              <% }
                       
               }else{ %>
                   <tr>
                      <td colspan="3">Vacio</td>
                   </tr>
                <% } %>    
              
            </tbody>
            </table>
            <br>
            <%}%>
       </article>
        </div>
    </div>
  </div>
  </body>
</html>

