<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap resources-->    
    <link href="bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    
    <!--color de los nav items-->
    <link href="js/navitems.css" rel="stylesheet">

    <title>Sistema 9/11</title>
  </head>
  <body>
  <div class="container">
    <div class="row">
    
    
        <div class="col-sm-3" style="background-color:#007141">
        <!--La barra de navegacion lateral va aqui-->
        <ul class="nav flex-column" style="background-color:#007141;">
        <li class="nav-item" style="margin-top:35px;">
            <a class="navbar-brand" href="/main">
              <img src="imagenes/uabc.png" alt="" width="24" height="30" class="d-inline-block align-text-top">
              <%= name %>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Movilidad academica</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/movilidad-entrada">Entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/movilidad-salida">Salida</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Intercambio estudiantil</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/intercambio-entrada">Entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/intercambio-salida">Salida</a></li>
            </ul>
          </li>
          <%if(tipo=='Coordinador'){%>
          <li class="nav-item">
            <a class="nav-link" href="/convenios">Convenios</a>
          </li>
          <%}%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reportes</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/excel-movilidad-entrada">Movilidad de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-movilidad-salida">Movilidad de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-intercambio-entrada">Intercambio de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-intercambio-salida">Intercambio de salida</a></li>
              <%if(tipo=='Coordinador'){%>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/excel-convenios">Convenios</a></li>
              <%}%>
            </ul>
          </li>
          <%if(tipo=='Coordinador'){%>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios">Administrar Usuarios</a>
          </li>
          <%}%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Validar y revisar</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/movilidad-entrada-tabla">Movilidad de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/movilidad-salida-tabla">Movilidad de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/intercambio-entrada-tabla">Intercambio de entrada</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/intercambio-salida-tabla">Intercambio de salida</a></li>
              <li><hr class="dropdown-divider"></li>
              <%if(tipo=='Coordinador'){%>
              <li><a class="dropdown-item" href="/convenios-tabla">Convenios</a></li>
              <%}%>
            </ul>
          </li>
          <li class="nav-item" style="margin-top:50px">
            <a class="nav-link" href="#">Ayuda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/passchange">Cambiar contraseña</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signout">Cerrar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-bottom:100%" href="#"></a>
          </li>
        </ul>
        </div>
        
        <!-- aqui ira el contenido que se muestre segun la opcion elegida---------------------->
        <div class="col-9">
        <article>    
            <div class="text-center">
                 <img class="logo"  src="imagenes/uabc.png" width="60" alt="">

             <h3 align="center">UNIVERSIDAD AUTÓNOMA DE BAJA CALIFORNIA</h3> 
             <h class="fw-bold text-center py-2">Sistema 9/11</h>
            </div>
                        <!--AQUI INICIA TABLA DE REGISTROS SIN VALIDAR POR COORDINADOR JUDITH O QUIEN SEA   --------->
            <br>
            <br>
            <h4>Registros añadidos recientemente</h4>
            <br>
            <h6>Movilidad Academica Entrada</h6>
            <table class="table">
            <thead>
              <tr>
                <th scope="col">Validado</th>
                <th scope="col">Periodo</th>
                <th width="col">Campus</th>
                <th width="col">Unidad</th>
                <th width="col">Numero Visitante</th>
                <th width="col">Visitante Nombre</th>
                <th width="col">Autor</th>
              </tr>
            </thead>
            <tbody>
              <% 
              var tmp;
              if(data.length){
              var len=10;
              
              if(data.length <10)
                len=data.length;
              for(var i = 0; i < len; i++) {
              
                if(data[i].validar==0){
                  tmp="No";
                }else{
                  tmp="Si";
                }
              %>
              <tr>
                <th scope="row"><%= tmp %></th>
                <td><%= data[i].PERIODO%></td>
                <td><%= data[i].CAMPUS_DESC%></td>
                <td><%= data[i].UNIDAD%></td>
                <td><%= data[i].VISITANTE_ID%></td>
                <td><%= data[i].VISITANTE_NOMBRE%></td>
                <td><%= data[i].AUTOR%></td>
                <td>
                <form action="/main" method="POST">
                <input type="hidden" name="table" value="movilidad-entrada" >
                <input type="hidden" name="id" value="<%=data[i].ID%>" >
                <button type="submit" class="btn-sm btn-success edit">Revisar</button>
                </form>                             
               </td>
               <td>
                <form action="/delete" method="POST">
                <input type="hidden" name="table" value="movilidad_academica_entrada" >
                <input type="hidden" name="id" value="<%=data[i].ID%>" >
                <button type="submit" class="btn-sm btn-danger edit">Eliminar</button>
                </form>
               </td>
              </tr>
              <% }
                       
               }else{ %>
                   <tr>
                      <td colspan="3">Vacio</td>
                   </tr>
                <% } %>
              
            </tbody>
            </table><br><br>
            <br>
       </article>
        </div>
    </div>
  </div>
  </body>
</html>

