#container{
    background-image: url('../public/uabc.jpg');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Center form div */
    text-align: center;
    display: flex;
    justify-content: center;
    
}

#container-form{
    background-color: white;
    border-radius: 10px;
    width: 25%; 
    height: 40%;
    margin-top: 100px;
}

#form-login{
    margin-top: 10px;
}

#input-form{
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
}

#button-login{
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}

#image-logo{
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}